<div class="container tea-list">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Current Teas</h1></div>
    <div class="panel-body">  <ul>
      <% @teas.each do |tea| %>
      <h3><%= link_to tea.name, tea_path(tea), :style=>'color:#240A02;' %></h3>
      <% end %>
    </ul></div>
  </div>
</div>
